.fail
  .container
    .fail__wrapper
      h1.fail__title
        span.title 404
        span !{DATA.fail.text1}
      p.fail__text.text !{DATA.fail.text2}
      a.fail__btn.btn(href="/" target="_self")
        .btn__wrapper
          span !{DATA.buttons.text1}
