-
  const NAV1_URLS = ['/#offer', '#block2', '/#agent'];
  const SOCIALS_LIST = [
    {
      name: 'instagram',
      url: 'https://google.com/'
    },
    {
      name: 'tiktok',
      url: 'https://google.com/'
    },
    {
      name: 'linkedin',
      url: 'https://google.com/'
    },
    {
      name: 'facebook',
      url: 'https://google.com/'
    },
    {
      name: 'telegram',
      url: 'https://google.com/'
    },
    {
      name: 'youtube',
      url: 'https://google.com/'
    }
  ];
