.socials.footer__socials
  .socials__list
    each item, i in SOCIALS_LIST
      .socials__item
        a.socials__link(href=SOCIALS_LIST[i].url target="_blank")
          svg.img-full
            use(href=`Images/sprite.svg#${SOCIALS_LIST[i].name}`)
