@use "Styles/variables/breakpoint" as *;
@use "Styles/variables/colors" as *;

html {
  height: 100%;
  box-sizing: border-box;
  font-size: 20px;
  line-height: 28px;
}

body {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
  width: 100%;
  min-width: 320px;
  height: 100%;
  font-family: 'Arial', 'Tahoma', sans-serif;
  font-size: 24px;
  line-height: 1.4;
  font-weight: 400;
  font-style: normal;
  color: $colorWhite;
  background-color: $colorDark;
  overflow-x: hidden;
  --ion-safe-area-top: env(safe-area-inset-top);
  --ion-safe-area-bottom: env(safe-area-inset-bottom);
  @include media('640') {
    font-size: 16px;
    line-height: 22px;
  }
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;

  b {
    font-weight: bold;
  }

  i {
    font-style: italic;
  }
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

button, a, input, textarea {
  -webkit-tap-highlight-color: transparent;
}

li {
  margin: 0;
  padding: 0;
}

textarea {
  user-select: initial;
}

label,
legend {
  user-select: initial;
  display: block;
}

label {
  cursor: pointer;
}

fieldset {
  padding: 0;
  border-width: 0;
}

input[type="checkbox"],
input[type="radio"] {
  display: inline;
  user-select: initial;
}

select {
  user-select: initial;
}

option {
  user-select: initial;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

picture {
  display: block;
}

img {
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto;
}

svg {
  display: block;
  transition: all .2s ease;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  //-webkit-text-fill-color: $colorWhite;
  //-webkit-box-shadow: 0 0 0 1000px $colorDark inset;
  //border-color: $colorWhite;
  transition: background-color 5000s ease-in-out 0s;
}

body.dark {
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    -webkit-text-fill-color: $colorDark;
    -webkit-box-shadow: 0 0 0 1000px #1E0A46 inset !important;
    border-color: #1E0A46 !important;
    transition: background-color 5000s ease-in-out 0s;
  }
}


input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 0s 600000s, color 0s 600000s !important;
}

a {
  color: inherit;
  cursor: pointer;
  text-decoration: none;
}
