$colorWhite: #ffffff;
$colorDark : #222222;
$colorDark2: #282829;
$colorDarkBlue: #38535D;
$colorBrown: #D5C9BE;
$colorGray : #55565A;
$colorGrayLight: #D6D6D6;
$colorGrayBlue: #405D65;
$colorError : #ff0000;
$colorPrimary : #FFBC00FF;
